/* TAMANHO DA TELA */

section {
  height: calc(100vh - 100px);
}
main {
  padding-top: 100px;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  background-color: #870000;
}

.nav-bar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #870000;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  padding: 0 4vw;
}

.nav-item a:hover,
.nav-list a.active {
  border-bottom: 5px solid #f5f5f5;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding-bottom: 23px;
}

.logo {
  display: none;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

/* FUNDO */

.container-fundo {
  position: relative;
  height: 600px;
  max-height: 90%;
  width: 90vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.6;
  border-radius: 98px;
}

.container-fundo .item-1,
.container-fundo .item-2 {
  position: relative;
  width: 50%; /* Defina a largura desejada para que os itens fiquem lado a lado */
  height: 100%;
  z-index: 1; /* Coloca os itens acima da imagem de fundo */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* TELA INICIO */

#logo {
  position: relative;
  width: 100%;
  max-width: 790px;
  height: auto;
  padding: 0px 10px 10px 10px;
}

/* TELA SOBRE */

.img-sobre {
  position: relative;
  width: 50%;
  border: 1px solid #000000;
  box-shadow: 0px 0px 3px 8px #860000;
}

.txt-sobre {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* TELA GALERIA */

.titulos-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
}
.titulos-2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
}

.titulo-mobile {
  display: none;
}

.container-galeria-1,
.container-galeria-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 702px;
  padding-top: 20px;
}

.linha-1,
.linha-2 {
  /* width: 400px;
  height: 10%; */
  /* position: relative; */
  display: flex;
  /* flex: 100%; */
  flex-direction: column;
  /* padding: 5px; */
  justify-content: center;
  align-items: center;
}

.img-galeria {
  width: 70%; /* aqui muda o tamanho das imagens */
  height: 100%; /* só começa a fazer efeito do 50% em diante */
  max-width: 285px; /* o maximo que funciona é 200 mais ou menos pq a imagem tem esse tamanho */
  display: flex;
  object-fit: cover;
  margin: 15px;

  box-shadow: 0px 0px 2px 6px #860000;
}

.img-galeria:hover {
  opacity: 0.5;
  transition: 0.4s;
}

.linha-1 a,
.linha-2 a {
  display: flex;
}
.linha-1 a {
  justify-content: flex-end;
}

.linha-1 a img,
.linha-2 a img {
  width: 79%;
  height: auto;
}
/* TELA CONTATOS */

.lista-imagem {
  position: absolute; /* Define o posicionamento absoluto para a lista */
  top: 50%; /* Define a posição vertical no meio do contêiner */
  left: 50%; /* Define a posição horizontal no meio do contêiner */
  transform: translate(-50%, -50%); /* Centraliza a lista usando translate */
  list-style-type: none; /* Remove os marcadores padrão */
}

.lista-imagem li {
  display: flex; /* Utiliza flexbox para alinhar o conteúdo do item */
  align-items: center; /* Alinha verticalmente o conteúdo ao centro */
  white-space: nowrap;
  padding-top: 25px;
  padding-bottom: 25px; /* Espaçamento entre os itens */
}

.lista-imagem li img {
  width: 10vw;
  max-width: 109px;
  height: auto; /* Altura da imagem */
  margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.txt-contatos {
  padding: 20px;
  font-size: clamp(2vw + 0.6em, 1.6vw + 1em, 2vw);
}
