@media screen and (max-width: 630px) {
  /* TAMANHO DA TELA */
  main {
    padding-top: 80px;
  }

  section {
    height: calc(100vh - 80px);
  }

  /* HEADER */

  header {
    height: 80px;
  }

  .nav-bar {
    height: 80px;
    padding: 1.5rem;
    justify-content: space-between;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    background-color: #870000;
  }
  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .nav-item a:hover,
  .nav-list a.active {
    border-bottom: 2px solid #f5f5f5;
  }
  .nav-link {
    padding-bottom: 5px;
    font-size: 2rem;
  }

  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .logo {
    display: flex;
  }
  .logo img {
    height: 50px;
  }

  .open {
    display: block;
  }

  .nav-item {
    display: none;
  }
  /* FUNDO */
  .container-fundo {
    flex-direction: column;
  }

  .container-fundo .item-1,
  .container-fundo .item-2 {
    height: 50%;
  }

  .container-fundo .item-2 {
    width: 90%;
  }

  /* OVERLAY MENU  */
  #overlay {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 300px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  /* TELA INICIO */

  .titulo {
    font-size: 8vw;
  }

  /* TELA SOBRE */

  .img-sobre {
    width: 90%;
  }

  .txt-sobre {
    padding: 0 10px 20px 10px;
    font-size: clamp(1.2vw + 0.6em, 4vw + 0.4em, 2.5vw) !important;
    line-height: 1.4 !important;
    color: white;
    text-align: center;
  }

  /* TELA GALERIA */

  #telaGaleria .container-fundo {
    height: 1800px;
  }

  .titulos-1 {
    display: flex;
    position: relative;
    height: 20px;
    font-size: 5vw;
    padding: 15px;
    align-items: center;
    margin-top: initial;
  }

  .titulo-mobile {
    display: flex;
  }
  #txt-aed {
    display: flex;
  }
  .titulo-web {
    display: none;
  }

  .container-galeria-1,
  .container-galeria-2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 330px;
    padding-top: initial;
  }

  .linha-1,
  .linha-2 {
    /* width: 400px;
  height: 10%; */
    /* position: relative; */
    display: flex;
    /* flex: 100%; */
    flex-direction: column;
    /* padding: 5px; */
    justify-content: center;
    align-items: center;
  }

  .linha-1 a img,
  .linha-2 a img {
    width: 72%;
    height: auto;
  }

  .img-galeria {
    width: 70%; /* aqui muda o tamanho das imagens */
    height: 100%; /* só começa a fazer efeito do 50% em diante */
    display: flex;
    object-fit: cover;
    margin: 8px;

    box-shadow: 0px 0px 2px 4px #860000;
  }

  /* TELA CONTATO */

  .texto {
    font-size: 5vw + 1em;
    line-height: 1.2em;
  }
  .txt-contatos {
    order: 1;
    padding: 0 !important;
    /* width: 80%; */
    font-size: 5vw !important;
  }
  #img-contatos {
    order: 2;
  }
  .lista-imagem {
    transform: none !important;
    top: 0% !important;
    left: 0% !important;
    position: flex-start !important;
  }
  .lista-container {
    position: initial;
    height: initial;
  }
  .lista-imagem li {
    margin-bottom: 20px !important;
  }

  .lista-imagem li img {
    width: 18vw !important;
    max-width: 75px !important;
    margin-right: 10px !important;
  }
}
