@media screen and (max-width: 600px) {
  /* HEADER */
  .nav-list {
    /* flex: 1;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80px;
  }

  .nav-list li {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-list li a {
    display: block;
    padding: initial;
    text-decoration: none;
    font-family: "Judson";
    font-style: normal;
    font-weight: 15;
    font-size: 20px;
    line-height: 15px;
    color: #f5f5f5;
    /* border-bottom: 5px solid #870000; */
    position: relative;
    /* inline-size: 10px; */
    /* flex-wrap: wrap;  */
  }
  /* FUNDO */
  .container-fundo {
    flex-direction: column !important;
  }

  .container-fundo .item-1,
  .container-fundo .item-2 {
    height: 50% !important;
  }

  .container-fundo .item-2 {
    width: 90% !important;
  }

  /* TELA INICIO */

  .logo {
    padding: 0px 10px 0px 10px;
  }
  .titulo {
    font-size: 8vw !important;
    margin-top: 10px !important;
  }

  /* TELA SOBRE */

  .img-sobre {
    width: 100% !important;
  }

  .txt-sobre {
    padding: 0px !important;
    /* margin: 10px !important; */
  }

  /* TELA CONTATO */

  .texto {
    font-size: 5vw + 1em !important;
    line-height: 1.2em !important;
  }
  .txt-contatos {
    order: 1;
    padding: 0 !important;
    /* width: 80%; */
    font-size: 5vw !important;
  }
  #img-contatos {
    order: 2;
  }
  .lista-imagem {
    transform: none !important;
    top: 0% !important;
    left: 0% !important;
    position: flex-start !important;
  }
  .lista-container {
    position: initial;
    height: initial;
  }
  .lista-imagem li {
    margin-bottom: 20px !important;
  }

  .lista-imagem li img {
    width: 15vw !important;
    max-width: 85px !important;
    margin-right: 10px !important;
  }
}
