@media screen and (max-width: 600px) {
  /* HEADER */
  main {
    padding-top: 80px;
  }

  section {
    height: calc(100vh - 80px);
  }

  header {    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80px;
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav a {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .open {
    display: block;
  }
  /* FUNDO */
  .container-fundo {
    flex-direction: column;
  }

  .container-fundo .item-1,
  .container-fundo .item-2 {
    height: 50%;
    
  }

  .container-fundo .item-2 {
    width: 90%;
  }

  /* TELA INICIO */

  .titulo {
    font-size: 8vw;
  }

  /* TELA SOBRE */

  .img-sobre {
    width: 100%;
  }

  .txt-sobre {
    padding: 0 40px 0 40px;
    /* margin: 10px !important; */
  }

  /* TELA CONTATO */

  .texto {
    font-size: 5vw + 1em;
    line-height: 1.2em;
  }
  .txt-contatos {
    order: 1;
    padding: 0 !important;
    /* width: 80%; */
    font-size: 5vw !important;
  }
  #img-contatos {
    order: 2;
  }
  .lista-imagem {
    transform: none !important;
    top: 0% !important;
    left: 0% !important;
    position: flex-start !important;
  }
  .lista-container {
    position: initial;
    height: initial;
  }
  .lista-imagem li {
    margin-bottom: 20px !important;
  }

  .lista-imagem li img {
    width: 15vw !important;
    max-width: 85px !important;
    margin-right: 10px !important;
  }
}
