.tela {
    height: 100vh; /* Define a altura da tela para ocupar todo o viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  
  /* Estilos específicos de cada tela */
  #telaInicio {
    background-color: #131519;
  }
  
  #telaSobre {
    background-color: #ccc;
  }
  
  #telaGaleria {
    background-color: #999;
  }
  
  #telaContato {
    background-color: #666;
  }